snippet TEST
    #include <cassert>
    #include "${2}"
    class ${1}Test : ${1} {
    public:
        void test(){
            ${0}
        }
    };
    int main(int argc, char *argv[])
    {
        ${1}Test testobj;
        testobj.test();
        return 0;
    }
