snippet INIT
	local M={}
	${0}
	return M
snippet pairs
    pairs(${0})
snippet l
	local ${0}
snippet lfun
    local function ${1:name}(${2})
        ${0}
    end
snippet mfun
    function M.${1:name}(${2})
        ${0}
    end
snippet va
    vim.api.
snippet vg
    vim.g.
snippet vf
    vim.fn.
snippet vc
    vim.cmd.
